*{
    box-sizing: border-box;
    list-style: none;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

.container{
    display: grid;
    grid-template-columns: 1fr 4fr;
    height: 100vh;
}
.container > div{
box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;

}
/* .container div {
    padding: 5px;
    color: white;
}  */

.header{
background-color: #f8fafc;
grid-column: 2 / 4;
display: grid;
grid-template-columns: 2fr 1fr;
}

.header div{
    padding: 10px;
}

.user-greeting{
    display: flex;

}
.search{
    display: flex;
}

form{
    width: 95%;
}

form input{
width: 90%;
height: 40px;
margin-left: 10px;
border-radius: 25px;
background-color: #cbd5e1;
border: none;
padding: 10px;
}

.search button{
    border: none;
    background-color: #f8fafc;
    cursor: pointer;
}

.header div, a{
    color: black;
}
 .login-user{
justify-self: center;
display: flex;

} 
.login-user h3{
    padding: 15px;
}

.header-button button{
    width: 95px;
    height: 40px;
    color: white;
    background-color: #0284c7;
    border: none;
    border-radius: 25px;
    margin: 9px;
    cursor: pointer;
    font-size: 1rem;
}

.header-button button:hover{
    background-color: #3b82f6;
}

.sidebar{
 grid-row: 1 / 4;
 background-color: #0284c7;
 display: grid;
 grid-template-rows: 1fr 7fr;
 
}

.sidebar div{
    padding: 10px;
}

.branding{
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    color: white;
}
.branding h3{
    color: white;
}
.sidebar a{
    font-size: 1.2rem;
    font-weight: bold;
    color: white;

}
 
.sidebar li{
    margin-top: 20px;
}

.sidebar svg{
    margin-right: 10px;
    fill: white;
}

.main{
    /* grid-column: 2/ 4; */
    grid-row: 2 / 4;
    background-color: #cbd5e1;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr;

    }



.projects{
grid-row: 1 / 4;
display: grid;
padding: 15px;
}

.projects div{
    padding: 10px;
}

.project-cards{
 display: grid;
 grid-template-columns: 1fr 1fr;
 gap: 35px;

}

.cards{
    height: 210px; 
    background-color: white;
    border-radius: 10px;
    border-left: 10px solid #f59e0b;
    display: grid;
    grid-template-rows: 4fr 1fr;
    padding: 8px;
    overflow: auto;
}

.projects h2{
 margin-left: 12px;
 padding: 5px;
}

.main h1, h2, h3, h4, p{
    color:black;
}
.project-icons{
    display: flex;
   justify-content: right;
}
.project-icons a{
    margin: 10px;
}
.announcements{
    grid-row: 1/2;
    padding: 5px;
    margin: 5px;
}

.announcements div{
padding: 12px;
}
.announcements h2{
    padding: 12px;

}

.message-section{
    background-color: white;
    border-radius: 10px;
    display: grid;
    overflow: auto;
   
}

.message-item{
    padding: 25px;
   }

.message-item:not(.last){
 border-bottom: 1px solid rgb(212, 211, 211);
}
.trending{
    grid-row: 2/4;
    padding: 5px;
    margin: 5px;

}
.trending h2{
    margin-bottom: 5px;
}

.trending-board{
    background-color: white;
    border-radius: 10px;
    display: grid;
    overflow: auto;
}

.trending-item{
    display: flex;
    padding: 10px;
}